<!DOCTYPE html>
<html>
<head>
    <title>合体业务主表</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("sys:tatcontract:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:tatcontract:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:tatcontract:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">合同号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tatContract.contractNo" placeholder="合同号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">签约日期</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tatContract.xydate" placeholder="签约日期"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建日期</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tatContract.createdate" placeholder="创建日期"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">合同模板</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tatContract.reporid" placeholder="合同模板"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">业务状态</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tatContract.state" placeholder="业务状态"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">标题</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tatContract.title" placeholder="标题"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">价格</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tatContract.price" placeholder="价格"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">付款方式</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tatContract.payment" placeholder="付款方式"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">付款方式信息</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tatContract.paymentMessage" placeholder="付款方式信息"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">税费等承担原则</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tatContract.taxationEar" placeholder="税费等承担原则"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">税费等承担原则信息</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tatContract.taxationEarMessage" placeholder="税费等承担原则信息"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">交付期限</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tatContract.limitPay" placeholder="交付期限"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">违约责任</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tatContract.breachInfo" placeholder="违约责任"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">争议解决方式</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tatContract.disputeResolution" placeholder="争议解决方式"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">其他约定事项</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tatContract.otherAssumpsit" placeholder="其他约定事项"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tatContract.createDate" placeholder="创建时间"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/tatcontract.js?_${.now?long}"></script>
</body>
</html>