<!DOCTYPE html>
<html>
<head>
    <title>主体表</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("sys:tmbody:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:tmbody:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:tmbody:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">证件号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tmBody.icNo" placeholder="证件号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">证件类型</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tmBody.icType" placeholder="证件类型"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">电话</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tmBody.mdTel" placeholder="电话"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">地址</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tmBody.mdAddr" placeholder="地址"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">发证机关</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tmBody.icOrg" placeholder="发证机关"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">类型</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tmBody.mdType" placeholder="类型"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">所属区域</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tmBody.mdAname" placeholder="所属区域"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">业务主体类型</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tmBody.maintypeid" placeholder="业务主体类型"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">占用份额</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tmBody.percant" placeholder="占用份额"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">业务主体id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tmBody.cId" placeholder="业务主体id"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/tmbody.js?_${.now?long}"></script>
</body>
</html>