
/*
 生成房源核验码
*/
.generate{
    width: 400px;
    margin: 100px auto 0 auto;
}

.generate .form-group {
    width: 300px;
    margin: 0 auto;
    height: 44px;
}

.generate .form-control {
    height: 44px;
    border-radius: 0px;
    outline: medium;
}

#fczhId {
    width: 100%;
    margin: 10px 0 0 0;
}

#idCard {
    width: 100%;
    margin: 10px 0 0 0;
}

.verification-prompt-info {
    width: 300px;
    height: 20px;
    margin: 10px 50px 0 50px;
    color: red;
    line-height: 20px;
    display: none;
}

#verification-btn {
    width: 300px;
    margin: 20px 50px;
    background-color: #63B1F0;
    border: none;
}

/*
 房源信息列表
*/
.houses{
    width: 70%;
    margin: 20px auto 100px auto;
}


