html{
    padding: 5px 0;
}

body{
    height: 100%;
    width: 100%;
    background: url("../images/bj.png");
}
/*
    菜单
 */
.menu{
    width: 60%;
    height: 260px;
    margin: 100px auto;
}

.menu-left{
    float: left;
    width: 55%;
    padding-right: 10px;
    height: 260px;
}

.menu-right{
    float: right;
    width: 45%;
    height: 260px;
}

.menu a{
    display: block;
}

#fyhy{
    width: 100%;
    padding-bottom: 10px;
    height: 130px;
}

#htwq{
    width: 55%;
    float: left;
    padding-right: 10px;
    height: 120px;
}

#zjjg{
    width: 45%;
    float: right;
    height: 120px;
}

#jjjg{
    width: 45%;
    float: left;
    height: 250px;
    padding-right: 10px;
}

#jgyh{
    width: 55%;
    float: left;
    height: 130px;
    padding-bottom: 10px;
}

#jjr{
    width: 55%;
    float: left;
    height: 120px;
}

.menu img{
    width: 100%;
    height: 100%;
}

/*
搜索框
 */
.house-verification {
    width: 65%;
    margin: 0 auto 100px auto;
}

.input-verification {
    width: 100%;
    height: 45px;
}


#verification-context {
    width: 85%;
    height: 45px;
    border-radius: 8px;
    border: 1px solid #63B1F0;
    float: left;
}

.verification {
    float: left;
    width: 15%;
    height: 45px;
    padding-left: 8px;
}

.verification button{
    width: 100%;
    height: 100%;
    background-color: #63B1F0;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom-width: 5px;
    border-radius: 5px;
}

.verification-history{
    width: 55.5%;
    height: 100px;
    background-color: white;
    position: absolute;
    left: 13%;
    top: 485px;
    border-radius: 8px;
    display: none;
}

#key-history li{
    margin-top: 5px;
    margin-left: 10px;
}
