html {
    padding: 5px 0;
}

body {
    height: 100%;
    width: 100%;
    background: url("../images/bj.png");
}

/*
    菜单
 */
.menu {
    width: 820px;
    height: 290px;
    margin: 100px auto;
}

.menu-left {
    float: left;
    height: 290px;
    width: 430px;
    margin-right: 10px;
}

.menu-right {
    height: 290px;
    width: 380px;
    float: right;
}

.menu a {
    display: block;
}

#HouseVerificationPersonal {
    height: 150px;
    width: 430px;
    margin-bottom: 10px;
}

#htwq {
    height: 130px;
    width: 235px;
    float: left;
    margin-right: 10px;
}

#zjjg {
    height: 130px;
    width: 185px;
    float: right;
}

#jjjg {
    height: 290px;
    width: 155px;
    float: left;
    margin-right: 10px;
}

#jgyh {
    height: 150px;
    width: 215px;
    float: left;
    margin-bottom: 10px;
}

#jjr {
    height: 130px;
    width: 215px;
    float: left;
}

.menu img {
    width: 100%;
    height: 100%;
}

/*
搜索框
 */
.house-verification {
    width: 65%;
    margin: 0 auto 100px auto;
}

.input-verification {
    width: 100%;
    height: 45px;
}

#verification-context {
    width: 85%;
    height: 45px;
    border-radius: 8px;
    border: 1px solid #63B1F0;
    float: left;
}

.verification {
    float: left;
    width: 15%;
    height: 45px;
    padding-left: 8px;
}

.verification button {
    width: 100%;
    height: 100%;
    background-color: #63B1F0;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom-width: 5px;
    border-radius: 5px;
}

.verification-history {
    width: 55.5%;
    height: 100px;
    background-color: white;
    position: absolute;
    left: 13%;
    top: 485px;
    border-radius: 8px;
    display: none;
}

#key-history li {
    margin-top: 5px;
    margin-left: 10px;
}
